<div class="mt-4">
        <h3>Login</h3>
        <form method="post" action="/courses/store">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
   <div class="mb-3">
    <label for="text" class="form-label">Slug</label>
    <input type="text" name="slug" class="form-control" id="slug">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>